<h1>Stupid Coaching</h1>

<container class="question-container">
  <p> <%= @question %> </p>
  <p><em>"–You"</em></p>
</container>

<container class="answer-container">
  <p> <%= @answer %> </p>
  <p><em>"–Your Coach"</em></p>
</container">

<%= link_to "Ask a new question", ask_path %>
